@tailwind base;
@tailwind components;
@tailwind utilities;

header  {
    background-color: white;
    color: black;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-link {
    list-style: none;
    display: flex;
}

.nav-link li{
    margin: 0 15px;
}

.nav-link a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-slider {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


